@import "../../node_modules/photoswipe/dist/photoswipe.css"
@import "../../node_modules/photoswipe/dist/default-skin/default-skin.css"

.gallery

  .wrapper
    center($wrapper-width)

    .section-title
      text-align: center
      
    .tabs
      cursor: pointer
      text-align: center
      margin-top: 25px
      &__toggle
        //border 1px solid #000
        display: inline-block
        padding: 10px
        &_active
          background $pink4
          color: #fff
      
    .plates
      margin-top: 25px
      display: block
      text-align: center
      width: 100%
      .gallery-item
        position: relative
        padding: 10px;
        transition: transform .2s; /* Animation */
        max-width: 100px;
        max-height: 80px;
        margin: 0 auto;
        
        &:hover
          transform: scale(1.5);