include ./photoswipe
include ./gallery-test

mixin gallery()
    a(name="backstage")
    .gallery.container
        .wrapper
            h3.section-title Backstage
            .tabs
                .tabs__toggle.tabs__toggle_active ЧЕЛЯБИНСК - ФИНАЛ - 10 СЕЗОН
                .tabs__toggle МАМОЧКА ГОДА #10, ИДЕАЛЬНАЯ ЖЕНЩИНА
                .tabs__tab <iframe src="//vk.com/video_ext.php?oid=-81300896&id=456239040&hash=34921d4456bf7058&hd=1" width="100%" height="480" frameborder="0" allowfullscreen></iframe>
                .tabs__tab <iframe src="//vk.com/video_ext.php?oid=-81300896&id=456239041&hash=887d63a48e945c10&hd=2" width="100%" height="480" frameborder="0" allowfullscreen></iframe>

            +photoswipe()
            .plates(data-render="yes" data-album="album-140049842_249532926")
            .plates(data-render="yes" data-album="album-140049842_247000002")