mixin gallery-test()
    #gallery(data-render="no")
        img.gallery-item(src='https://pp.userapi.com/c540106/v540106001/245ed/YA5hy1rx3mw.jpg', data-full='https://pp.userapi.com/c540106/v540106001/245ee/4YrpP0-vL3k.jpg', data-width='744', data-height='1024')
        img.gallery-item(src='https://pp.userapi.com/c314629/v314629001/72fd/H7c5zjWrwfM.jpg', data-full='https://pp.userapi.com/c314629/v314629001/72fe/srco-8J3JEg.jpg', data-width='538', data-height='356')
        img.gallery-item(src='https://pp.userapi.com/c314629/v314629001/72f6/T4nhl_dORKs.jpg', data-full='https://pp.userapi.com/c314629/v314629001/72f7/MqMhyUry6Xk.jpg', data-width='538', data-height='323')
        img.gallery-item(src='https://pp.userapi.com/c314629/v314629001/72ef/Jv1yfLsyPn0.jpg', data-full='https://pp.userapi.com/c314629/v314629001/72f0/s5K9kkzNyd8.jpg', data-width='538', data-height='344')
        img.gallery-item(src='https://pp.userapi.com/c540101/v540101001/4848/n8L9XeNpicE.jpg', data-full='https://pp.userapi.com/c540101/v540101001/484c/65oW_-qobmE.jpg', data-width='1920', data-height='1080')
        img.gallery-item(src='https://pp.userapi.com/c191/u00001/115563482/m_bf87ab0d.jpg', data-full='https://pp.userapi.com/c191/u00001/115563482/x_e1ce64f3.jpg', data-width='undefined', data-height='undefined')
        img.gallery-item(src='https://pp.userapi.com/c9591/u00001/136592355/m_5f3fd6ac.jpg', data-full='https://pp.userapi.com/c9591/u00001/136592355/x_d51dbfac.jpg', data-width='undefined', data-height='undefined')
        img.gallery-item(src='https://pp.userapi.com/c9591/u00001/136592355/m_672c7bad.jpg', data-full='https://pp.userapi.com/c9591/u00001/136592355/x_dbfafe4c.jpg', data-width='undefined', data-height='undefined')
        img.gallery-item(src='https://pp.userapi.com/c9591/u00001/136592355/m_dc54094a.jpg', data-full='https://pp.userapi.com/c9591/u00001/136592355/x_3216ccc1.jpg', data-width='undefined', data-height='undefined')
