.jimbotron
  position: relative
  width: 100%
  z-index 0
  top 10vh
  .poster
    background-image  url('../../app/assets/images/white-wood-texture.png')
    background-repeat repeat
    position: relative
    min-height: 650px
    height 78vh
    width: 100%
    +small()
      min-height: 600px
    .wrapper
      overflow hidden
      +small()
        width: 100%
      .logo
        position absolute
        left 20%
        top 0
        height: 400px
        z-index 1
        +large()
          height: 350px
        +extra-large()
          height: 300px
        +medium()
          left: 10%
        +extra-medium()
          height: 250px
        +small()
          abs-center()
          top 0
          max-height: 200px
      .slogan
        position: absolute
        abs-center()
        bottom: 0
        width: 500px
        +medium()
          height: 150px
          width: auto
        +small()
          bottom: 2%
          height: 100px
      .prise
        position absolute
        top -10%
        transform: translate(-30%, 0)
        right: 10%
        width: 840px
        z-index: 0
        +large()
          top: 0
          width: 550px
        +extra-large()
          width: 500px
        +medium()
          top 0
          right: -10%
          width: 600px
        +extra-medium()
          width: 500px
        +small()
          abs-center()
          top 20%
          width: auto
          max-height 200px
          z-index 2
      .corner
        position: absolute
        right 0
        bottom: 0
        width: 500px
        +medium()
          visibility: hidden
        +small()
          width: 100%

      .scene
        overflow: hidden
        ransform: translate(10%, 0)
        left -10%
        width: 120%
        .layer-1
          background-image  url('../../app/assets/images/baby-texture-2.png')
          background-repeat repeat
          background-size: 150px
        .layer-2
          background-image  url('../../app/assets/images/flowers-3.png')
          background-repeat no-repeat
          background-position left 20% bottom
          background-size 25%
          +medium()
            visibility: hidden
        .layer-2,
        .layer-1
          width: 100%
          height 78vh
          +small()
            visibility hidden
            width: 100%
  .region-select
    position: absolute
    width: 400px
    top: 40%
    right  27%
    font-family Shadow-Regular
    text-align: center
    font-size: 18px
    line-height: 25px
    z-index 10
    +medium()
      top 45%
      abs-center()
    +small()
      width: 100%
    span
      color: $red1
      padding 0 5px
      a
        color: $blue1
        text-decoration underline
    a
      display: inherit
      width: 200px
      margin: 15px auto

  .separator
    background-image  url('../../app/assets/images/sep.png')
    background-size contain
    background-repeat no-repeat
    height 2vh