mixin jimbotron()
    .jimbotron
        .poster
            .wrapper
                .scene
                    .layer-1(data-depth="0.2")
                    .layer-2(data-depth="0.1")
                img.logo(src=require("../../app/assets/images/name-4.png"))
                img.slogan(src=require("../../app/assets/images/slogan.png"))
                img.prise(src=require("../../app/assets/images/prise-6.png"))
                img.corner(src=require("../../app/assets/images/corner.png"))
            .region-select
                span Выберите ваш регион:
                a.rounded(href="/region.html") Юг
                a.rounded(href="/region.html") Урал
                a.rounded(href="/region.html") Сибирь
                a.rounded(href="/vote.html") Голосование
        .separator