.navbar
	font-family OpenSans-Regular
	position: absolute
	width: 100%
	min-width $wrapper-width-small
	background-color: white
	box-shadow: $box-shadow
	z-index 10
	+small()
		border-top-left-radius 10px
		border-top-right-radius 10px
		outline: 1px solid $light-pink
	
	.navbar-wrapper
		center($wrapper-width)
		height $navbar-large-height
		display: flex
		justify-content: center
		+small()
			height: $navbar-small-height
			padding: 0 25px
			
		.phone
			column(2/6)
			font-size: 18px
			line-height: 22px
			font-weight: bolder
			display: flex
			justify-content center
			align-items center
			+small()
				column(5/6)
				font-size 14px
				line-height: 16px
				justify-content flex-start
			
			i
				color: $light-pink
				padding-right: 7px
				padding-bottom: 7px
				font-size: 30px
				line-height: 24px
			img
				max-height: 45px
				padding: 15px 0
				
		menu
			font-size: 16px
			line-height: 18px
			column(4/6)
			visibility visible
			display: flex
			justify-content center
			align-items center
			+small()
				font-size: 14px
				line-height: 16px
				column(6/6)
				justify-content: flex-end
			ul
				visibility hidden
				transition:opacity 0.5s linear
				opacity:0
				background-color: #fff
				border-top: none
				+small()
					column(4/6)
					z-index 10
					position absolute
					top 61px
					right 0
					text-align: center
					border 1px solid $light-pink
					border-top: none
					box-shadow: $box-shadow
				+extra-small()
					width 80%
					position absolute
					left: 50%
					transform: translate(-50%, 0)
					
				
				li
					display: inline
					padding: 0 10px
					+small()
						padding: 15px 0
						display block
						border-bottom: 1px solid $light-pink
					a
						@extend .underline
			
				&.visible
					visibility visible
					opacity:1
					
			.show
				span(1/6)
				display: none
				visibility: hidden
				text-align: center
				width: 60px
				height: 40px
				background-color: #fff
				border 1px solid $light-pink
				border-radius 15px
				+small()
					visibility visible
					display: block
				i
					color: $light-pink
				
.sticky
	position: fixed
	top: 0
	width: 100%
	
.sticky + .content
	padding-top: 80px
		