mixin navbar()
    nav
        .navbar
            .navbar-wrapper
                .phone
                    a(href="/")
                        img(src=require("../../app/assets/images/anikeev.png"))
                menu
                    button.show
                        i.fa.fa-bars
                    ul
                        li
                            a.scroll(href="#about-project") О проекте
                        li
                            a.scroll(href="#program") Программа
                        li
                            a.scroll(href="#callbackform") Регистрация
                        li
                            a.scroll(href="#backstage") Backstage