header
	position: relative
	width: 100%
	z-index 0
	top: $navbar-large-height
	+small()
		top: $navbar-small-height
	.poster
		background-image  url('../../app/assets/images/white-wood-texture.png')
		background-repeat repeat
		position: relative
		height 600px
		width: 100%
		+small()
			height 600px
		+extra-small()
			height: 400px
		.wrapper
			overflow hidden
			+small()
				width: 100%
			.logo
				position absolute
				left 0
				top 0
				+medium()
					abs-center()
				+small()
					top 10%
					max-height: 300px
			.name
				position absolute
				abs-center()
				top 0
				width 900px
				+medium()
					width: 700px
				+small()
					width auto
					max-height 150px
			.corner
				position: absolute
				right 0
				bottom: 0
				width: 500px
				+medium()
					visibility: hidden
				+small()
					width: 100%
			.prise
				position absolute
				bottom: 0
				transform: translate(-30%, 0)
				left: 30%
				max-heigh: 300px
				+medium()
					right: 0
					max-heigh: 300px
				+small()
					width: auto
				+extra-small()
					max-height: 200px
					bottom 10%
				
			
			.scene
				overflow: hidden
				ransform: translate(10%, 0)
				left -10%
				width: 120%
				.layer-1
					background-image  url('../../app/assets/images/baby-texture-2.png')
					background-repeat repeat
					background-size: 150px
				.layer-2
					background-image  url('../../app/assets/images/flowers-2.png')
					background-repeat no-repeat
					background-position right 20% top
					+medium()
						visibility: hidden
				.layer-2,
				.layer-1
					width: 100%
					height 600px
					+small()
						visibility hidden
						width: 100%
	.region-select
		position: absolute
		width: 400px
		bottom: 5%
		left 10%
		font-family Shadow-Regular
		text-align: center
		font-size: 18px
		line-height: 25px
		+medium()
			abs-center()
		+small()
			width: 100%
		span
			color: $red1
			padding 0 5px
			a
				color: $blue1
				text-decoration underline
		a
			display: inherit
			margin: 0 auto
			width: 100px
			
	.separator
		background-image  url('../../app/assets/images/sep.png')
		background-size contain
		background-repeat no-repeat
		height: 15px


