mixin header(region)
    header
        hgroup
            .poster
                .wrapper
                    .scene
                        .layer-1(data-depth="0.2")
                        .layer-2(data-depth="0.1")
                    img.logo(src=require("../../app/assets/images/mom-dot.png"))
                    img.name(src=require("../../app/assets/images/logo-large.png"))
                    img.prise(src=require("../../app/assets/images/prise-6.png"))
                    img.corner(src=require("../../app/assets/images/corner.png"))
                if(region)
                    .region-select
                        span Ваш регион:
                        span
                            a(href="/index.html")=region
                        a.rounded(href="#callbackform").scroll Участвовать
        .separator

