doctype html

include ../../blocks/head/head
include ../../blocks/jimbotron/jimbotron
include ../../blocks/navbar/navbar
include ../../blocks/footer/footer

html(lang="ru")

    block head
        head
            +head({
                "title": "МамочкаГода | Фабрика проектов КА",
                "author": "Kondraland",
                "description": "МамочкаГода",
                "keywords" : "МамочкаГода",
                "favicon": require("../../app/assets/images/favicon.ico")
            })
    body
        .wrapper
            +navbar()
            +jimbotron()
            +footer()