header
	position: relative
	width: 100%
	z-index 0
	top: $navbar-large-height
	+small()
		top: $navbar-small-height
	.poster
		background-image  url('../../app/assets/images/white-wood-texture.png')
		background-repeat repeat
		position: relative
		height 600px
		width: 100%
		+small()
			height 400px
		.wrapper
			overflow hidden
			+small()
				height: 400px

			.label
				position absolute
				abs-center()
				top 0
				width 200px
				+small()
					width: 100px
				
			.logo
				position absolute
				abs-center()
				top 150px
				width: $wrapper-width
				max-width 850px
				+small()
					max-width $wrapper-width-small
					top 50px

			.scene
				overflow: hidden
				ransform: translate(10%, 0)
				left -10%
				width: 120%
				.layer-1
					background-image  url('../../app/assets/images/layer-1-1.png')
				.layer-2
					background-image  url('../../app/assets/images/layer-2-1.png')
				.layer-2,
				.layer-1
					background-repeat no-repeat
					background-position center
					background-size cover
					width: 100%
					height 600px
					+small()
						visibility hidden
						height 400px


