mixin header()
    header
        .poster
            .wrapper
                img.label(src=require("../../app/assets/images/anikeev.png"))
                img.logo(src=require("../../app/assets/images/logo-comb-1.png"))
                .scene
                    .layer-1(data-depth="0.2")
                    .layer-2(data-depth="0.1")
