doctype html

include ../../blocks/head/head
include ../../blocks/navbar/navbar
include ../../blocks/header-2/header
include ../../blocks/footer/footer
include ../../blocks/vote/vote


html(lang="ru")

    block head
        head
            +head({
                "title": "МамочкаГода | Юг",
                "author": "Kondraland",
                "description": "МамочкаГода",
                "keywords": "МамочкаГода",
                "favicon": require("../../app/assets/images/favicon.ico")
            })
    body
        .wrapper
            section
                +navbar()
            section
                +header()
            section
                +vote()
            section
                .h-separator.bg-pattern.container
            section
                +footer()