@import "../../node_modules/alertifyjs/build/css/alertify.min.css"
@import "../../node_modules/pickerjs/dist/picker.min.css"

.callbackform
	.wrapper
			.section-title
				text-align: center
				
			.form-wrapper
					background url('../../app/assets/images/callbackbg-2.png') no-repeat center
					background-size 100%
					height: 300px
					padding 50px
					display: flex
					align-items: center
					justify-content: center
					+small()
						border-radius 15px
						background-size 400%
						height: 150px

			form
				width: 100%
				.fields
					display: flex
					justify-content: space-around
					align-items: center
					+small()
						flex-direction column
					
				.buttons
					margin-top: 20px
					display: flex
					justify-content: center
					align-items: center
					
				input[type="text"],
				input[type="tel"],
				input[type="email"]
					border-radius 15px
					font-size 20px
					display: inline-block
					border: 1px solid $pink3
					color: $pink3
					height 30px
					line-height: 32px
					padding 5px
					background-color: #fff
					+small()
						margin-bottom: 10px
					
				input[type="submit"]
					center(200px)
					display: block
					
					
					