mixin callbackform(formId)
    a(name="callbackform")
    .callbackform.container
        .wrapper.wrap-content
            h3.section-title Регистрация
            .form-wrapper
                form(id=formId)