mixin head(data)
    title= data.title
    meta(charset="utf-8")

    meta(content=data.author name="author")
    meta(content=data.description name="description")
    meta(content=data.keywords name="keywords")
    meta(property="og:image" content="assets/img/logo-neon-min.png")
    meta(property="og:type" content="website")
    meta(property="og:title" content=data.title)
    meta(property="og:url" content="http://kondraland.ru")
    meta(property="og:description" content=data.description)
    meta(name="format-detection" content="telephone=no")

    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")

    link(rel="shortcut icon", href=data.favicon, type="image/x-icon")