mixin wtf()
    a(name="about-project")
    .wtf.container
        .wrapper.wrap-content
            h3.section-title Что это за проект?

            ul
                li проект для любимых мамочек;
                li наполнить себя позитивными эмоциями и подарить их своей любимой семье;
                li лайтовая программа по преображению себя;
                li новые знакомства и полезные связи;
                li эмоции, подарки, прекрасное время препровождение и пр.

            p Мы в соцсетях:
                |
                |
                a(href="https://vk.com/mamochka_goda" target="_blank")
                    i.fa.fa-vk
                |
                ||
                |
                a(href="https://www.instagram.com/fabrikaproektov/" target="_blank")
                    i.fa.fa-instagram