.wtf
	.wrapper
		font-size: 20px
		line-height: 26px
		.section-title
			text-align: center
		p
			font-weight: bolder
			text-align: center
		ul
			padding: 20px 0
			li
				
				position: relative
				&:before
					position: relative
					content: ''
					display: inline-block
					width: 50px
					height: 25px
					top: 8px
					left: 0
					background: url('../../app/assets/images/baby-marker.png') no-repeat
					background-size: contain
					background-position: center