.countdown

  .wrapper
    padding 50px 0
    //center($wrapper-width)

    .section-title
      position: relative
      abs-center()
      text-align: center
      color: #fff
      z-index 1

    #clockdiv
      position: relative
      abs-center()
      z-index: 1
      margin-top: 20px
      font-family: sans-serif;
      color: #fff;
      display: block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;


    #clockdiv > div
      padding: 10px;
      border-radius: 3px;
      background: $pink3;
      display: inline-block;


    #clockdiv div > span
      padding: 15px;
      border-radius: 3px;
      background: $pink4;
      display: inline-block;


    .smalltext
      padding-top: 5px;
      font-size: 16px;

