mixin countdown()
    .countdown.container
        .wrapper.bg-pattern
            h2.section-title До начала проекта осталось
            #clockdiv(data-date-before="2018-04-14 00:00:00")
                div
                    span.days
                    .smalltext Дней
                div
                    span.hours
                    .smalltext Часов
                div
                    span.minutes
                    .smalltext Минут
                div
                    span.seconds
                    .smalltext Секунд
