mixin vote()
    .vote.container
        .wrapper
            h3.section-title Голосование
            .content
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed congue velit. Cras pharetra, urna non iaculis egestas, odio ante gravida tellus, sed vestibulum elit sem vel lectus. Ut ultricies in lacus eu tempus. Nullam sit amet nisl imperdiet, scelerisque arcu non, semper dolor. Proin ultricies molestie mattis. Aliquam ultrices, velit vel facilisis pulvinar, dui turpis luctus velit, sed porta sapien lorem eu magna. Nulla tincidunt fermentum leo sed semper.

                | Nunc rhoncus iaculis risus, eget pulvinar sapien tempor sed. Nulla convallis ac nunc quis dignissim. In hac habitasse platea dictumst. Nunc id est lorem. Donec fermentum a lacus nec porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet enim eget lorem sollicitudin, eu aliquet metus tincidunt. Mauris ultrices lorem orci, sit amet laoreet nulla tincidunt interdum. Ut sodales ante nulla, et egestas neque elementum sed. Ut vehicula eleifend arcu id feugiat.

                | Maecenas ultrices lorem vel vehicula aliquet. Phasellus laoreet metus vel orci dapibus, eu egestas nibh vestibulum. Suspendisse ex ipsum, venenatis at quam eu, elementum maximus mi. Aliquam tincidunt velit quis lacus blandit ornare. Sed vel mattis tellus. Sed tortor sem, pharetra nec sodales non, aliquam in nisi. Fusce pharetra id tellus sit amet sodales. Nam placerat risus faucibus posuere semper.

                | Aenean molestie et risus nec semper. Morbi malesuada vulputate ligula in mattis. In congue risus pellentesque nibh laoreet, in semper tortor consequat. In auctor metus velit, malesuada iaculis mi congue ac. Phasellus facilisis aliquam nulla nec consectetur. Proin efficitur justo in vulputate scelerisque. Nam tristique eros eget nunc posuere dapibus. Nam eu auctor nulla. Donec ac dolor et odio bibendum fermentum et id tortor. Duis massa lectus, finibus eu diam a, interdum fermentum leo.

                | Aenean ut nulla feugiat, auctor orci at, ornare nibh. Curabitur venenatis eleifend ornare. Mauris ac diam id diam blandit imperdiet. Sed quis sollicitudin urna, vel auctor turpis. Integer non ullamcorper turpis, quis venenatis dui. Proin accumsan, lorem eu sodales porttitor, elit dolor dignissim ante, eu imperdiet elit ipsum a sem. Fusce vitae tortor viverra, scelerisque justo id, faucibus sem. Nulla lacus diam, viverra vitae odio cursus, congue cursus ex. Vestibulum a convallis odio, ac maximus ipsum. Fusce interdum elit vitae ante elementum posuere. Phasellus vulputate sapien in turpis fermentum sagittis. Donec tincidunt turpis nec ex auctor, quis maximus dolor sagittis. Nunc non magna suscipit, fringilla lorem eget, hendrerit sapien. Vivamus varius tellus eget tempus bibendum.
