doctype html

include ../../blocks/head/head
include ../../blocks/navbar/navbar
include ../../blocks/header-2/header
include ../../blocks/about/about
include ../../blocks/countdown/countdown
include ../../blocks/gallery/gallery
include ../../blocks/other-projects/other-projects
include ../../blocks/wtf/wtf
include ../../blocks/prise/prise
include ../../blocks/footer/footer
include ../../blocks/callbackform/callbackform
include ../../blocks/slogan/slogan
include ../../blocks/partners/partners


html(lang="ru")

    block head
        head
            +head({
                "title": "МамочкаГода | Юг",
                "author": "Kondraland",
                "description": "МамочкаГода",
                "keywords": "МамочкаГода",
                "favicon": require("../../app/assets/images/favicon.ico")
            })
    body
        .wrapper
            section
                +navbar()
            section
                +header("Юг")
            section
                +wtf()
            section
                .h-separator.bg-pattern.container
            section
                +about()
            section
                +countdown()
            section
                +callbackform("callback1")
            section
                +gallery()
            section
                +prise()
            section
                +slogan()
            section
                +callbackform("callback2")
            section
                +other-projects([
                    {name: "Людмила", phone: "89881603413", phone_url: "tel:+79881603413"},
                    {name: "Константин", phone: "89193079125", phone_url: "tel:+79193079125"}
                ])
            section
                +partners()
            section
                .h-separator.bg-pattern.container
            section
                +footer()