mixin other-projects(contacts)
    .other-projects.container
        .wrapper.wrap-content
            h3.section-title Другие проекты
            .row
                a(href="http://xn--99-8kcd3af2bay7c9c.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/99.png"))
                a(href="http://xn--80aaaa7aqdb7ajlry9bj.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/tach.png"))
                a(href="http://xn--80aaahoohak4dei.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/kras.png"))
            a.rounded(href="https://m.vk.com/hochuvproject" target="_blank") Все проекты здесь
            p ПО ВСЕМ ВОПРОСАМ:
            each contact in contacts
                p
                    =contact.name
                    |
                    | -
                    |
                    a(href=contact.phone_url)
                        =contact.phone