$box-shadow = 0 4px 10px 0 rgba(215,138,167,0.7)
$pink1 = #FED0E0
$pink2 = #A8298D
$pink3 = #bd94b2
$pink4 = #B071BD
$light-pink = #9b5da3
$dark-pink = #AD2F8F
$red1 = #c82f56
$blue1 = #3e84cf
$wrapper-width = 960px
$wrapper-width-small = 300px
$navbar-large-height = 85px
$navbar-small-height = 60px
$glitter-blocks = 50px
$glitter-blocks-medium = 40px
$glitter-blocks-small = 30px

.grid
	display: grid
	
.visible
		visibility visible
	
.hidden
	visibility hidden
	
.section-title
	font-family Shadow-Regular
	font-size 30px
	line-height: 36px
	color: $dark-pink
	+medium()
		font-size: 26px
		line-height: 32px
	+small()
		font-size: 20px
		line-height: 36px
	
.regular
	font-family: HandBookPro-Regular
	font-size: 25px
	line-height: 35px
	color $light-pink
	
.container
	position: relative
	top: $navbar-large-height
	margin-top: $glitter-blocks
	+small()
		top: $navbar-small-height
	+medium()
		margin-top: $glitter-blocks-medium
	+small()
		margin-top: $glitter-blocks-small
	
.wrap-content
	center($wrapper-width, $pad = 20px)
	+small()
		center($wrapper-width, $pad = 10px)
	
.rounded
	max-width 250px
	min-width: 150px
	padding 10px 40px
	background #fff
	border: 2px solid $pink3
	box-shadow: 0 10px $pink3
	border-radius 15px
	transition: all 0.3s ease 0s;
	font-family Shadow-Regular
	color: $pink3
	font-size 16px
	line-height: 16px
	cursor: pointer
	
.rounded:active
	transform: translateY(4px)
	box-shadow: 0 5px $pink4;

.rounded
	&:active,
	&:focus,
	&:hover
		outline none
	
.h-separator
	display: block
	width: 100%
	height: 20px
	background #000
	position: relative
	

.bg-pattern
	background url(../../app/assets/images/bg-pattern.png) repeat center
	background-size 80px
	
	&:before
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#9f2f77,#d66293);
		opacity: .6;
		z-index 0
	
.bg-pattern-2
	background: url('../../app/assets/images/baby-marker-3.png') repeat center
	background-size 70px

	



	