mixin partners()
    .partners.container
        .wrapper.wrap-content
            h3.section-title Партнеры
            .row
                a(href="http://xn--99-8kcd3af2bay7c9c.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/99-hov.png"))
                a(href="http://xn--80aaaa7aqdb7ajlry9bj.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/tach-hov.png"))
                a(href="http://xn--80aaahoohak4dei.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/kras.png"))
            .row
                a(href="http://xn--99-8kcd3af2bay7c9c.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/99-hov.png"))
                a(href="http://xn--80aaaa7aqdb7ajlry9bj.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/tach-hov.png"))
                a(href="http://xn--80aaahoohak4dei.xn--p1ai/" target="_blank")
                    img(src=require("../../app/assets/images/kras.png"))