.partners
	.wrapper
		text-align: center
		.section-title
			text-align: center
			
		.row
				img
					column(1/3)
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
					-webkit-transition: .3s ease-in-out;
					transition: .3s ease-in-out;
					&:hover
						-webkit-filter: sepia(0);
						filter: grayscale(0);
	
		a.rounded
			display: inline-block
			margin-top: 10px
			margin-bottom: 10px
			
		p
			font-weight: bolder
			margin-top: 10px
			
				
			