.prise
	.wrapper
		padding: 50px 0
		
		.section-title
			position: relative
			text-align: center
			//color: #fff
			
		.section-title-2
			@extends .section-title
			font-size: 34px
			position: relative
			text-align: center
			color: $red1
			//text-shadow: 0 0 20px rgba(255,255,255,0.7);
			line-height: 50px
			
		img
			position: relative
			abs-center()
			max-height: 600px
			width auto
			
		p
			font-size: 26px
			line-height: 30px
			text-align: center
			position: relative
			color: #666
			//color: #fff