mixin prise()
    .prise.container#prise
        .wrapper
            h3.section-title Главный приз
            img(src=require("../../app/assets/images/prise-9.png?max-width=1200"))
            h3.section-title-2 ОТКРЫТА РЕГИСТРАЦИЯ!
            p Участие в проекте только после собеседований!
            p Количество мест ограничено!
            p Участие в проекте платное!