.about

	.wrapper
		padding: 50px 0
		center($wrapper-width)
		+small()
			center($wrapper-width-small)
	
		.section-title
			text-align: center
		
		.caption
			@extend .regular
			text-align: center
			
		.advantages
			margin-top: 30px
			.row
				float: left
				margin: 15px 0
				width: 100%
				&.last
					.item
							column(3/3)
							
				.item
					margin-top: 10px
					column(1/3)
					+small()
						column(3/3)
					img
						display: block
						margin: 0 auto
						width: 80px
						height: 80px
					h6.title
						text-align: center
						font-family Shadow-Regular
						color: #666
						font-size: 22px
						line-height: 40px
						//&:after
						//	content: ''
						//	display: inline-block
						//	width: 20px
						//	height: 20px
						//	position: relative
						//	top: 0
						//	left: 0
						//	background url('../../app/assets/images/baby-marker-2.png') no-repeat center
						//	background-size contain
						//	margin-left: 5px
						//&:before
						//	content: ''
						//	display: inline-block
						//	width: 20px
						//	height: 20px
						//	position: relative
						//	top: 0
						//	left: 0
						//	background url('../../app/assets/images/baby-marker-2.png') no-repeat center
						//	background-size contain
						//	margin-right: 5px
					p.caption
						margin: 0 auto
						text-align: center
						font-family HandBookPro-Regular
						font-size: 20px
						line-height: 25px
						color: #666
						max-width: 300px
						//min-height: 150px