mixin about()
    a(name="program")
    .about.container.bg-pattern-2
        .wrapper
            h2.section-title Программа проекта
            .advantages

                .row
                    .item
                        img(src=require("../../app/assets/images/about/008-picture.png?max-width=80"))
                        h6.title ФОТОСЕССИЯ
                        p.caption Яркий и оригинальный фотосет для себя любимой!
                    .item
                        img(src=require("../../app/assets/images/about/011-brainstorm.png?max-width=80"))
                        h6.title ОБРАЗОВАНИЕ
                        p.caption Мастер-классы (визаж, стиль, бизнес, театр), индивидуальная работа по целеполаганию, консультация по БАЦЗЫ!
                    .item
                        img(src=require("../../app/assets/images/about/014-yoga.png?max-width=80"))
                        h6.title ФИТНЕС
                        p.caption Целый месяц фитнес-тренировок!
                .row
                    .item
                        img(src=require("../../app/assets/images/about/007-renewable-energy.png?max-width=80"))
                        h6.title ОЗДОРОВЛЕНИЕ
                        p.caption 5 посещений соляной пещеры с детьми. Посещение бассейна с детьми и без детей.
                    .item
                        img(src=require("../../app/assets/images/about/004-excursion.png?max-width=80"))
                        h6.title ЭКСКУРСИИ
                        p.caption 2 выездные экскурсии для детей: страусы, лошадки или хаски!
                    .item
                        img(src=require("../../app/assets/images/about/003-psychologist.png?max-width=80"))
                        h6.title ПСИХОЛОГ
                        p.caption В рамках проекта работает психолог, который с удовольствием поддерживает участниц проекта!
                .row.last
                    .item
                        img(src=require("../../app/assets/images/about/001-food.png?max-width=80"))
                        h6.title ФИНАЛ
                        p.caption Праздник для себя любимой! Яркая прическа, сочный и макияж! Эмоции и подарки! И, конечно, любимая семья!