footer
  font-family OpenSans-Regular
  position: relative
  top: 10vh
  background #fff
  color: #000

  a
    color: $pink2

  .wrapper
    center($wrapper-width)
    padding: 10px 0
    p
      font-size: 12px
      line-height: 25px
      +small()
        font-size: 10px
        line-height: 16px

    p.center
      clear both
      text-align: center

      a
        margin: 0 10px
        +small()
          display: block

    p.left
      float left
      +small()
        display: block

    p.right
      float: right
      +small()
        display: block
        

    img.inline
      display: inline-block
      max-height: 15px