mixin footer()
    footer
        .wrapper
            p.center ООО «ЛЕВ», ИНН 7448053512 КПП 744801001, ОГРН 1147448010555
            p.center
                a(href=require("../../app/static/privacy.pdf") target="_blank") Политика конфиденциальности
                a(href=require("../../app/static/terms.pdf") target="_blank") Пользовательское соглашение
            p.center Разработка и поддержка сайта
                a(href="http://www.kondraland.ru" target="_blank")
                    img.inline(src=require("../../app/assets/images/w600.png"))