/* base framework*/
@import "../../node_modules/jeet/styl/index.styl"

/* base-dev */
@import "../../blocks/_base/media-mixins.styl"
@import "../../blocks/_base/mixins.styl"
@import "../../blocks/_base/reset.styl"
@import "../../blocks/_base/fonts.styl"
@import "../../blocks/_base/common.styl"

/* plugins */
@import "../../node_modules/font-awesome/css/font-awesome.min.css"
@import "../../node_modules/photoswipe/dist/photoswipe.css"
@import "../../node_modules/photoswipe/dist/default-skin/default-skin.css"
@import "../../node_modules/animate.css/animate.min.css"
@import "../../node_modules/font-awesome/css/font-awesome.min.css"

html
  font-family "HandBookPro-Regular"
  font-size 22px
  color: #666
  line-height 24px
  min-width: $wrapper-width-small
  //+medium()
  //  font-size 16px
  //  line-height 18px
  //+small()
  //  font-size 14px
  //  line-height 16px
  
a
  color: $blue1

.underline
  color: $light-pink
  display: inline-block
  text-decoration: none
  &:hover,
  &:focus
    color: $dark-pink
  &:hover
    &::after
      width: 100%

  &::after
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px
    background: $dark-pink
    transition: width .3s;


img
  max-width 100%
  height auto